*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.sidebar-nav{
  background-color: #121212;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 8px;
}

.sidebar-nav ul{
  list-style: none;
}


.sidebar-nav ul li{
  padding: 8px 10px;
}
.sidebar-nav ul li a:hover{
  color: white;
}

.sidebar-nav ul li a{
  text-decoration: none;
  color: rgb(209, 198, 198);
  font-size: 16px;
  font-weight: 600;
}

.sidebar-nav ul li a i{
  font-size: 20px;
  margin-right: 16px;
}

.sidebar-nav .logo{
  width: 120px;
}
.sidebar-nav .logo img{
  width: 100%;
}

.library::after{
  content: '+';
  float: right;
  text-align: center;
  font-size: 20px;
}


 .create-playlist{
  background-color: #242424;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
 }

 .sidebar-scroll{
  height: 80px;
  width: 254px;
  overflow-y: auto;
 }

 .sidebar-scroll::-webkit-scrollbar{
  background: transparent;
 }


 .sidebar-scroll::-webkit-scrollbar-thumb{
  background: transparent;
  width: 10px;
 }


 .sidebar-scroll:hover::-webkit-scrollbar-thumb{
  background: rgb(125, 123, 123);
  width: 5px;
 }

 .create-playlist h4{
  color: white;
  font-size: 15px;
 }

 .create-playlist p{
  color: white;
  font-size: 12px;
  margin: 8px 0;
 }

 .create-playlist button{
  padding: 8px 15px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 10px;
 }

.privacy ul li a{
  text-decoration: none;
  color: #9c9999;;
  font-size: 10px;
  font-weight: 200;
  margin: 0 5px;
}
.privacy ul li a:hover{
  text-decoration: underline;
  color: rgb(239, 234, 234);
}

.privacy ul{
  list-style: none;
  margin-top: 15px;
}

.privacy ul li{
  padding: 0 2px;
  padding-bottom: 8px;
}

.eng-btn button{
  padding:5px 20px;
  border-radius: 20px;
  border: 0;
  outline: none;
  background: transparent;
  color: rgb(245, 243, 243);
  border: 1px solid rgb(145, 141, 141);
  margin: 10px 50px;
}

.eng-btn button:hover{
  padding: 10px 20px;
  border: 1px solid white;
}


.main-section{
  margin-left: 300px;
  background: #151515;
  height: 100vh;
  overflow-y: auto;
  margin-bottom: 90px;
  border-radius: 7px;
}

.main-section::-webkit-scrollbar{
  background: transparent;
 }


 .main-section::-webkit-scrollbar-thumb{
  background: transparent;
  width: 10px;
 }


 .main-section:hover::-webkit-scrollbar-thumb{
  background: rgb(125, 123, 123);
  width: 5px;
 }


.main-section .top-nav{
  padding: 20px 30px;
  background: #0e0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section .top-nav button{
  background: transparent;
  border: 0;
  outline: 0;
}

.main-section .top-nav .prev-btn button i{
  color: rgb(169, 163, 163);
  font-size: 22px;
  margin-right: 20px;
}

.top-nav .login-btn .signup{
  color: rgb(169, 163, 163);
  font-size: 16px;
  font-weight: 600;
  margin-right: 25px;
}


.top-nav .login-btn .signup:hover{
  color: white;
  font-size: 17px;
}

.top-nav .login-btn .login{
  color: rgb(6, 6, 6);
  font-size: 16px;
  font-weight: 600;
  background: white;
  padding: 12px 24px;
  border-radius: 26px;

}
.top-nav .login-btn .login:hover{
  background-color: rgb(231, 224, 224);
  padding: 13px 25px;
}

.spotify-playlist{
  padding: 20px 40px;
}

.spotify-playlist h2{
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}


.spotify-playlist .card{
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.spotify-playlist .card .item{
  width: 160px;
  min-width: 140px;
  background-color: #151515;
  cursor: pointer;
  padding: 15px;
}


.spotify-playlist .card .item:hover{
  background-color: rgb(29, 28, 28);
  border-radius: 6px;
}

.spotify-playlist .card .item img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.spotify-playlist .item h4{
  color: white;
}

.spotify-playlist .item p{
  color: rgb(183, 172, 172);
  font-size: 13px;
  margin-top: 10px;
  font-weight: 500;
}

.spotify-playlist .item p:hover{
  text-decoration: underline;
}


.spotify-playlist .playbtn{
  position: relative;
}

.spotify-playlist .playbtn i{
  position: absolute;
  background: rgb(80, 173, 80);
  border-radius: 70%;
  padding: 10px;
  right: 8px;
  top: -40px;
  opacity: 0;
  transform: 0.3s ease all;
}

.spotify-playlist .card .item:hover .playbtn i{
  opacity: 1;
  transform: translateY(-20px);
}

.playbtn i:hover{
  padding: 11px;
}

.footer-section{
  padding: 20px 40px;
}

.footer-section .footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-section .footer .footer-link{
  display: flex;
  justify-content: space-between;
  gap: 27px;
}

.footer-section .footer .footer-link .footercol{
  margin: 0 12px;
}

.footer-section .footer .footer-link div{
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-section .footer .footer-link ul li{
  list-style: none;
  margin: 8px 0;
}
.footer-section .footer .footer-link ul li a{
  text-decoration: none;
  color: #969393;
  font-size: 14px;
  cursor: pointer;
}

.footer-section .footer .footer-link ul li a:hover{
  text-decoration: underline;
  color: white;
}

.footer .socialLinks i{
  /* padding: 12px;
  margin: 0 5px; */
  cursor: pointer;
}

.footer-section .footer .footer-link .socialLinks i{
  margin: 8px;
  background-color: rgb(49, 46, 46);
  border-radius: 60%;
  padding: 12px;

}

hr{
  margin: 20px 16px;
  outline: 0;
  border: 0.1px solid rgb(92, 87, 87);
}

.copyright{
  padding: 0 40px;
  color: rgb(159, 152, 152);
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}

.preview{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #ae2896, #509bf5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 40px;
}

.preview h4{
  font-size: 13px;
  font-weight: 600px;
  margin-bottom: 10px;
  color: white;
}

.preview p{
  font-size: 16px;
  font-weight: 400px;
  color: white;
}

.preview .button button{
  font-weight: 700;
  width: 158px;
  padding: 16px 7px;
  border-radius: 28px;
  outline: none;
  border:none;
  font-size: 14px;
}